 /* App Css */
.news-img-main {
    background-position: center center;
    background-size: cover;
    position: relative;
}
.news-img-side {
    background-position: center center;
    background-size: cover;
    position: relative;
}
.news-h3 {
    font-size: 15px;
    margin: 15px 5px;
    font-weight: 600;
    line-height: 20px;
}
.news-margin-bottom {
    margin-bottom: 10px!important;
}
.news-sub-text{    
    margin: 5px;
    font-size: 11px;
    color: #888;
}
.side-news-container{
    padding: 0.01em 0px 0.01em 16px;
}
.story-title{
    margin: -2px 5px;
    line-height: 20px;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .side-news-container{
        padding: 10px 0px;
    }
    .news-img-main {
        height: 200px;
    }
    .news-img-side {
        height: 70px;
    }
    .news-h3 {
        margin: 5px;
    }
    .story-title{
        margin: -6px 5px;
        line-height: 20px;
    }
}
.news-body img{width:100%}
.news-pointer{cursor: pointer;}